/********************************************************************************
								GLOBAL
********************************************************************************/
* {
	padding: 0;
	margin: 0 auto;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.2rem;
	background: #fff;
}

body:before {
	content: "";
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -10;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-origin: center;
}

/* small form */
@media only screen and (max-device-width: 520px) {
	html {
		font-size: 2rem;
		width: 100%;
	}
	.box {
		max-width: 100vw;
	}

	body > div {
		width: 100%;
	}
	body:before {
		background-image: url('res/index/bg-mobile.jpg');
	}
}

/* large form */
@media only screen and (min-device-width: 521px) and (max-device-width: 999px) {
	article {
		max-width: 50rem;
	}
	body:before {
		background-image: url('res/index/bg-tablet.jpg');
	}
}

@media only screen and (min-device-width: 1000px) {
	article {
		max-width: 50rem;
	}
	body > div {
		max-width: 100vw;
	}
	body:before {
		background-image: url('res/index/bg-low.jpg');
		width: 100vw;
		height: 100vh;
	}
}

header {
	height: 3rem;
}

footer {
	box-shadow: inset 0 0.5rem 0.5rem rgba(0,0,0,0.5);
	background-color: #151515;
	color: #999;
	font-size: 1rem;
	width: 100vw;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
}

body > div {
	color: #fff;
	text-align: center;
}

/********************************************************************************
								TITLE BAR
********************************************************************************/

body > header {
	z-index: 1;
	position: fixed !important;
	top: 0;
	left: 0;
	right: 0;
	background-color: #111;
}

h1 {
	font-family: 'Roboto Slab', serif;
	color: #fff;
	font-size: 2rem;
	font-weight: 300;
	float: left;
	padding-left: 1rem;
}

h1:hover {
	font-weight: 700;
}

#title {
	max-width: 100%;
	background-color: #111;
}

#title p {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	position: relative;
	top: -1rem;
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin: 1rem;
}

#title p:hover {
	font-size: 1.5rem;
	top: -0.9rem;
	color: #3f9;
}

#title div {
	display: inline;
	float: right;
}

#title img {
	width: 1rem;
	height: 1rem;
	margin: 1rem;
}

#title img:hover {
	width: 1.2rem;
	height: 1.2rem;
	margin: 0.9rem;
}

/********************************************************************************
								MAIN SECTION
********************************************************************************/

#main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media only screen and (min-width: 1200px) and (min-device-width: 1200px) {
	#main {
		flex-direction: row;
		align-items: flex-start;

	}

	#main section {
		margin: 5rem 1.5rem 0 1.5rem;
	}
}

/********************************************************************************
								ABOUT SECTION
********************************************************************************/

#about {
	max-width: 100vw;
	margin: 0;
	margin-top: 3rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

@media only screen and (min-width: 1200px) and (min-device-width: 1200px) {
	#about {
		min-width: 0;
		max-width: inherit;
		width: auto;
		flex-direction: column;
		justify-content: center;
	}

	#about p {
		max-width: 26rem;
	}
}

#about p {
	color: #fff;
	max-width: 28rem;
	font-weight: 300;
	letter-spacing: 0.1rem;
	margin: 0;
	text-indent: 0;
	text-align: center;
	display: inline-block;
	border-radius: 1rem;
	background-image: radial-gradient(circle, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.5) 70%);
	padding: 1rem;
}

#about img {
	width: 15rem;
	height: 15rem;
	margin: 1rem;
	height: auto;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    border-radius: f50%;
    box-shadow: 0 0 2rem #000;
}

#about a {
	color: #fff;
	text-decoration: underline;
	font-weight: 700;
}

#about a:hover {
	text-decoration: none;
	font-weight: 700;
}

/********************************************************************************
								ARTICLE
********************************************************************************/

h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 800;
	text-align: left;
	font-size: 1.2rem;
	display: inline;
	float: left;
}

header > span {
	text-align: right;
	font-style: italic;
	float: right;
}

article {
	z-index: 0;
	color: #111;
	margin-bottom: 1.5rem;
	padding-bottom: 1.2rem;
	padding-top: 1rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

article p {
	text-align: left;
	text-indent: 1rem;
	margin-bottom: 1rem;
}

article > div {
	position: relative;
	padding-bottom: 3rem;
}

article img {
	display: block;
	max-width: 98%;
	margin: 1rem auto;
}
article video {
	display: block;
	max-width: 98%;
	margin: 1rem auto;
}

article a {
	color: #000;
	text-decoration: underline;
	font-weight: 300;
}

article a:hover {
	text-decoration: underline;
	font-weight: 700;
}

.fold {
	color: #000;
	margin-right: auto;
	margin-left: auto;
	text-align: right;
	position: absolute;
	right: 3rem;
	bottom: 0;
	height: 3rem;
	text-decoration: underline;
}

.fold:hover {
	font-weight: 700;
	cursor: pointer;
}

.box {
	background-color: #fff;
	border-top: 4px solid #ddd;
	border-bottom: 4px solid #444;
	box-shadow: 0 0 2rem #000;
}

.small {
	max-width: 30rem;
}