/********************************************************************************
								GLOBAL
********************************************************************************/
* {
	padding: 0;
	margin: 0 auto;
}

iframe {
	width: 100%;
	height: 100%;
	background-color: #fff;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.2rem;
	background: #fff;
}

body:before {
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	background: url('/img/bg-low.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* small form */
@media only screen and (max-device-width: 520px) {
	html {
		font-size: 2rem;
		width: 100%;
	}
	article {
		width: 100%;
	}
	#title {
		width: 100%;
	}
	body > div {
		width: 100%;
	}
	.box {
		background-color: #fff;
		border-top: 4px solid #ddd;
		border-bottom: 4px solid #444;
	}
}

/* large form */
@media only screen and (min-device-width: 521px) {
	article {
		max-width: 50rem;
	}
	#title {
		max-width: 50rem;
	}
	body > div {
		max-width: 50rem;
	}
	.box {
		background-color: #fff;
		border-top: 4px solid #ddd;
		border-bottom: 4px solid #444;
		box-shadow: 0 0 2rem #000;
	}
}

header {
	height: 3rem;
}

footer {
	font-size: 1rem;
	height: 3rem;
}

a {
	text-decoration: none;
}

body > div {
	color: #fff;
	text-align: center;
}

/********************************************************************************
								TITLE BAR
********************************************************************************/

body > header {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #111;
}

h1 {
	font-family: 'Roboto Slab', serif;
	color: #fff;
	font-size: 2rem;
	font-weight: 100;
	float: left;
	padding-left: 1rem;
}

h1:hover {
	font-weight: 700;
}

#title p {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	position: relative;
	top: -1rem;
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin: 1rem;
}

#title p:hover {
	font-size: 1.5rem;
	top: -0.9rem;
	color: #3f9;
}

#title div {
	display: inline;
	float: right;
}

#title img {
	width: 1rem;
	height: 1rem;
	margin: 1rem;
}

#title img:hover {
	width: 1.2rem;
	height: 1.2rem;
	margin: 0.9rem;
}

/********************************************************************************
								ABOUT SECTION
********************************************************************************/

#about {
	margin-top: 6rem;
	margin-bottom: 3rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

#about p {
	color: #fff;
	max-width: 20rem;
	font-weight: 700;
	margin: 0;
	text-indent: 0;
	text-align: center;
	display: inline-block;
	background-image: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 70%);
	padding: 1rem;
}

#about img {
	width: 15rem;
	margin: 1rem;
	height: auto;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 2rem #000;
}

#about a {
	color: #fff;
	text-decoration: underline;
	font-weight: 700;
}

#about a:hover {
	text-decoration: none;
	font-weight: 700;
}

/********************************************************************************
								ARTICLE
********************************************************************************/

h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 800;
	text-align: left;
	font-size: 1.2rem;
	display: inline;
	float: left;
}

header > span {
	text-align: right;
	font-style: italic;
	float: right;
}

article {
	z-index: 0;
	color: #111;
	margin-bottom: 1.5rem;
	padding-bottom: 1.2rem;
	padding-top: 1rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

article > p {
	text-align: left;
	text-indent: 3vw;
	margin-bottom: 0.5rem;
}

article > div {
	min-height: 3rem;
	position: relative;
}

article > img {
	display: block;
	width: 98%;
	margin: 1rem auto;
}

.expand {
	color: #000;
	margin-right: auto;
	margin-left: auto;
	text-align: right;
	position: absolute;
	right: 3rem;
	bottom: 0;
	height: 3rem;
	text-decoration: underline;
}

.expand:hover {
	font-weight: 700;
	cursor: pointer;
}